header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Other header styles here */
}

.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /* text-tranform: translateZ(0); */
    transition-duration: .3s;
    transition-property: transform;
    transition-property: transform;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
    transform: translateY(-5px);
    color: #ffffff;
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}



@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */


@media (min-width: 768px) {
    .navbar {
        text-align: center !important;
        float: none;
        display: inline-block;
    }
}

body {
    background-color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center !important;
    color: white;
    background: url('../Images/High_resolution_wallpaper_background_ID_77700615769-PhotoRoom.jpg');
    background-repeat: none;
    background-size: cover;
}

@font-face {
    font-family: 'HarryPotter';
    src: url('../harry_p/WizardWorldSimplified-Kxr7.ttf') format('truetype');
}

nav {
    background: none !important;
    text-transform: uppercase;
    font-family: 'HarryPotter', sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15%;
    gap: 25px;
    padding-block: 50px;
}

nav li {
    margin-left: 50px;
    margin-right: 3em;
    display: flex;
    justify-content: center;
    position: relative;
    top: 8%;
}

nav li a {
    transition: .5s color ease-in-out;
    text-decoration-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15%;
    margin-left: 110px;
    margin-right: 3em;
}

.page-title {
    opacity: .75 !important;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;

}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.txt{
    margin-top: 3%;
    color: #ffffff;
    font-family: 'Harry Potter', 'sans-serif';
}

.image{
    float: left;
    position: relative;
    margin-top:5%;
    height:50%;
    width:30%;
}