header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Other header styles here */
}

.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /* text-tranform: translateZ(0); */
    transition-duration: .3s;
    transition-property: transform;
    transition-property: transform;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
    transform: translateY(-5px);
    color: #ffffff;
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}



@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */


@media (min-width: 768px) {
    .navbar {
        text-align: center !important;
        float: none;
        display: inline-block;
    }
}

body {
    background-color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center !important;
    color: white;
    background: url('../Images/High_resolution_wallpaper_background_ID_77700615769-PhotoRoom.jpg');
    background-repeat: none;
    background-size: cover;
    /* margin-bottom: 50px; */
}

@font-face {
    font-family: 'HarryPotter';
    src: url('../harry_p/WizardWorldSimplified-Kxr7.ttf') format('truetype');
}

nav {
    background: none !important;
    text-transform: uppercase;
    font-family: 'HarryPotter', sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    gap: 25px;
    padding-block: 50px;
}

nav li {
    margin-left: 50px;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    position: relative;
    top: 8%;
}

nav li a {
    transition: .5s color ease-in-out;
    text-decoration-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15%;
    margin-left: 110px;
    margin-right: 3em;
}


.page-title {
    opacity: .75 !important;
}

/* .icon--divider {
    position: absolute;
    margin-top: 4%;
    margin-left:150px;
    left: 5%;
    width:50vh;
    height: 10%;
    background-image: url('border\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

/* @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800"); */

.itemcont {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.itms {
    font-family: "Harry Potter";
    font-size: 14px;
    color: #cfd6e1;
    line-height: 1.5;
    font-weight: 400;
    /* overflow-x: hidden; */
}

button {
    font-family: inherit;
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.movie-card {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 300px;
    display:block;
    margin: 2vh auto;
    border-radius: 8px;
    position: relative;
    margin-top: 10%;
    top: 5%;

    @media screen and (max-width: 800px) {
        width: 95%;
        max-width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .movie-card {
        background-position: 50% 0%;
        background-size: cover;
        height: 400px;
    }
}

.movie-card:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}

.movie-card__overlay {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    background-blend-mode: multiply;
    position: absolute;
    margin-top: 2vh;
    bottom: 0;
    right: 0;
    left: 0;
}

@media screen and (max-width: 600px) {
    .movie-card__overlay {
        background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    }
}


@media screen and (max-width: 600px) {
    .movie-card__share {
        display: block;
        width: 100%;
    }
}

.movie-card__icon {
    color: #ffffff;
    mix-blend-mode: lighten;
    opacity: .4;
    background: none;
    padding: 0;
}

.movie-card__icon:hover {
    opacity: 1;
    mix-blend-mode: lighten;
}

.movie-card__icon:not(:first-of-type) {
    margin-left: 5px;
}

.movie-card__icon i {
    font-size: 1.2em;
}

.movie-card__content {
    width: 100%;
    max-width: 370px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    float: right;
    padding-right: 1em;
    padding-bottom: 1em;
}

@media screen and (max-width: 1000px) {
    .movie-card__content {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .movie-card__content {
        margin-top: 4.2em;
        width: 100%;
        float: inherit;
        max-width: 100%;
        padding: 0 1em 1em;
    }

}

.movie-card__header {
    margin-bottom: 2em;
    margin: 5vh auto;
}

.movie-card__title {
    color: #ffffff;
    font-size: 4vh;
    margin-bottom: .25em;
    opacity: .75;
}

.movie-card__info {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    color: #2a9fff;
    line-height: 1;
    margin: 0;
    font-weight: 700;
    opacity: .5;
}

.movie-card__desc {
    font-weight: 300;
    opacity: .84;
    /* margin-bottom: 2em; */
}

h1,
h2,
h3 {
    font-family: "Harry Potter";
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 400;
}

.btn {
    padding: .5rem 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.btn-outline {
    background-color: transparent;
    border: 0.0px solid #ffffff;
}

.btn::before {
    font-family: "FontAwesome";
    content: "\f05a";
    vertical-align: left;
    font-size: 1.0em;
    padding-right: .6em;
}

.btn-outline:hover {
    border-color: #2a9fff;
    color: #2a9fff;
    box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
}

/* .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
} */

#ave {
    box-shadow: 10px 10px 150px -45px rgba(199, 147, 75, 0.7);
    margin-bottom: 250px;
}

#ave:hover {
    box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}